<html>

<head>
    <meta charset='utf-8' />
    <title>Order Invoice</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family:
                'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display:
                    block;
                text-align: center;
            }
        }

        /** RTL **/
        .invoice-box.rtl {
            direction: rtl;
            font-family:
                Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .invoice-box.rtl table {
            text-align: right;
        }

        .invoice-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }

        .item {
            text-align: center;
        }

        .heading {
            text-align: center;
        }

        .details-table {
            margin-top: 20px;
        }

         .details-table,
         .details-table th,
         .details-table td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class='invoice-box'>
        <table cellpadding='0' cellspacing='0'>
            <tr class='top'>
                <td colspan='2'>
                    <table>
                        <tr>
                            <td class='title'>
                                <img src='https://res.cloudinary.com/djyemfefu/image/upload/v1664542567/banner/gamestop_logo_yz4q8t.gif'
                                    style='width: 50px; height:50px' />
                            </td>

                            <td>
                                Invoice #: 123<br />
                                Created: {{this.created}}<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class='information'>
                <td colspan='2'>
                    <table>
                        <tr>
                            <td>
                                Gamestop, Inc.<br />
                                Infopark<br />
                                Kakkanad,Ernamkulam,Kerala
                            </td>


                        </tr>
                    </table>
                </td>
            </tr>

            <table class="heading-table details-table">
                {{#if this.item}}
                <tr class='heading'>
                    <td>Product Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
                <tr class='item'>
                    {{#with this.item}}
                    <td>{{this.productName}}</td>
                    <td>{{this.count}}</td>
                    <td>₹{{this.price}}</td>
                    {{/with}}
                </tr>
                {{/if}}

            </table>

                {{#if this.items}}
            <table class="heading-table details-table">
                <tr class='heading'>
                    <td>Product Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Subtotal</td>
                </tr>
                {{#each this.items}}
                <tr class='item'>
                    <td>{{this.productName}}</td>

                    <td>{{this.count}}</td>
                    <td>₹{{this.discountedPrice}}</td>
                    <td>₹{{this.subTotalDiscounted}}</td>
                </tr>

                {{/each}}
            </table>
                {{/if}}

            <table class="details-table">
                <tr class='item'>
                    <td>Ordered On</td>

                    <td>{{this.orderedOn}}</td>
                </tr>


                <tr class='item'>
                    <td>Total Amount</td>

                    <td>₹{{this.totalAmountDiscounted}}</td>
                </tr>

                <tr class='item'>
                    <td>Payment Method</td>

                    <td>{{this.paymentMethod}}</td>
                </tr>


                <tr class='item'>
                    <td>Delivered On</td>

                    <td>{{this.orderStatusUpdatedOn}}</td>
                </tr>

                <tr class='item'>
                    <td>Delivered Address</td>
                    {{#with this.deliveryAddress}}
                    <td>
                        <p> {{name}},
                            {{houseName}}</p>
                        <p>{{streetName}}, {{city}}</p>
                        <p>{{district}}, {{state}},</p>
                        {{pincode}}
                    </td>
                    {{/with}}
                </tr>
            </table>

        </table>
    </div>
</body>

</html>